#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
export DH_VERBOSE = 1

# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

export DH_GOPKG := github.com/containers/skopeo
export DH_GOLANG_BUILDPKG := $(DH_GOPKG)/cmd/skopeo
export GO111MODULE := on
export GOFLAGS := -mod=vendor
GCFLAGS ?= all=-trimpath=${PWD}
ASMFLAGS ?= all=-trimpath=${PWD}

BUILDTAGS ?= \
	$(shell hack/libdm_tag.sh) \
	containers_image_ostree_stub \
	exclude_graphdriver_btrfs
#	$(shell hack/btrfs_tag.sh) \

DOCSOURCEDIR := docs
DOCTARGETDIR=$(wildcard obj-*-linux-gnu)/docs
DOC_LIST := $(shell ls $(DOCSOURCEDIR)/skopeo*.1.md | sed -e 's/\.1\.md//g')

%:
	dh $@ --buildsystem=golang --with=golang,bash-completion

override_dh_auto_build:
	dh_auto_build --buildsystem=golang -- -tags "$(BUILDTAGS)" \
		-gcflags "$(GCFLAGS)" -asmflags "$(ASMFLAGS)"
	mkdir -p $(DOCTARGETDIR)
	$(foreach doc,$(DOC_LIST), \
			go-md2man -in $(doc).1.md -out $(DOCTARGETDIR)/$(shell basename $(doc)).1;)

override_dh_auto_test:

override_dh_auto_install:
	dh_auto_install -- --no-source

override_dh_installman:
	dh_installman $(DOCTARGETDIR)/*.1
